{#todo: Amin add this.#}
{% extends "polls/basic.html"  %}

{% block extra_head %}
    <style>
        .write-comment{
            width: 42%;
        }
        .blue-text{
            color: #003bff;
        }
        .comment-block{
            width: 50%;
        }
        .hidden-block{
            display: none;
        }
    </style>
    <script>
        $(document).ready(function(){
          $(".reply").click(function(){
            $(".reply-block").show();
          });
        });
    </script>
{% endblock %}

{% block body %}
        {% for comment in comments %}
            <div class="row">
                <div class="col-xs-6">
                    <span class="blue-text">{{ comment.commenter.email }}: </span>
                    <span>{{ comment.text }}</span>
                    <a href="{% url 'polls:replies' comment.id %}">(replies)</a>
                </div>
            </div>
        {% endfor %}
        <br>
        <form action="{% url 'polls:writecomment' comments.first.event_option.id %}" method="post">
        {% csrf_token %}
            <input class="write-comment" type="text" name="comment" placeholder="comment">
            <input type="submit" value="Comment">
        </form>
{% endblock %}