{% extends "polls/basic.html"  %}
{% block body %}
<h1>{{ event.name }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div class="align-left">
    <form action="{% url 'polls:main' event.id %}" method="post">
    {% csrf_token %}
    {% for eventoption in event.eventoption_set.all %}
        <input type="radio" name="eventoption" id="eventoption{{ forloop.counter }}" value="{{ eventoption.id }}">
        <label for="eventoption{{ forloop.counter }}">{{ eventoption.event_item_name }}</label><br>
    {% endfor %}
    <input type="submit" value="Vote">
    </form>
</div>
{% endblock %}