{% extends "polls/basic.html"  %}
{% block extra_head %}
    {% load static %}
    <style xmlns="http://www.w3.org/1999/html">
        .bigger-line-space{
            margin: 2px 0 2px 0;
        }
        .black-text{
            color: #000000;
        }
        .Yes{
            {#border: purple 1px solid;#}
            background-color: #47fc00;
        }
        .No{
            {#border: purple 1px solid;#}
            background-color: #ff5042;
        }
        .Maybe{
            background-color: #ffca00;
        }

    </style>
{% endblock %}

{% block body %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if event.active_status%}
<div class="align-left" style="margin: 50px">
    <form action="{% url 'polls:vote' event.id %}" method="post" style="width: 550px; padding: 10px; margin-left: 20px; border-style: outset; border-radius: 10px">
    <h1 style="text-align: center; color: purple">{{ event.name }} <font size="3">by {{ event.creator.email }}</font></h1><br><br>
    {% csrf_token %}

    {% for eventoption in event.eventoption_set.all %}
        <label class="bigger-line-space" for="eventoption{{ forloop.counter }}"> description: {{ eventoption.description }} </label>
        <br>
        <label class="bigger-line-space" for="eventoption{{ forloop.counter }}"> From: {{ eventoption.from_date }}-{{ eventoption.from_time }} </label>
        <br>
        <label class="bigger-line-space" for="eventoption{{ forloop.counter }}"> To: {{ eventoption.to_date }}-{{ eventoption.to_time }} </label>
        <br>
        {% with 'Yes No Maybe' as option_list %}

            {% for option in option_list.split %}
                <span class="{{ option }} badge black-text">
                    <input type="radio" name="eventoption{{ eventoption.id }}" id="eventoption{{ eventoption.id }}" value="{{ forloop.counter }}">
                    <label for="eventoption{{ forloop.counter }}">{{ option }}</label>
                </span>
            {% endfor %}
            <a href="{% url 'polls:comments' eventoption.id %}">comments</a>

            <br>
        {% endwith %}
        <br>----------<br>
    {% endfor %}

    <input type="submit" value="Vote">
        </form>
</div>
{% else  %}
    <p><strong>Event finished!</strong></p>
{% endif %}
{% endblock %}

