{% extends "polls/basic.html" %}

{% block body %}
{% if events %}
    <ul>
    {% for event in events %}
         {% if event.name %}
             <li><a href="{% url 'polls:owndetail' event.id %}" methods="post">{% comment %}{% endcomment %}
             {{ event.name }}
         {% else %}
             <li><a href="{% url 'polls:detail' event.event.id %}" methods="post">
             {{ event.event.name }}
         {% endif %}
             </a></li>
{#          <li> {{ event.id  }}</li>#}
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}
