{% extends "polls/basic.html" %}

{% block extra_head %}
{#<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />#}
{% endblock %}

{% block body %}

<style>
itable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

itd, ith {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

itr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<div class="container">

<div class="header">
</div>

<div class="row-fluid">
<div class ="span4">
    <div class="jumbotron">
    <h1>Schedule your <b>meetings</b> and <b>events</b> with pleasure!</h1>
        <div>
            <a class="btn btn-schedule btn-lg" href="{% url 'polls:create_new_event' %}" style="color: deeppink; font-size: 25px">Schedule a new event</a>
            <a href="{% url 'polls:create_new_event' %}" class="top-menu"><span class="glyphicon glyphicon-plus" style="color: deeppink"></span></a>
            <br>
            <a class="btn btn-schedule btn-lg" href="event" style="color: darkorange; font-size: 25px" >Attending events</a><br>
            <a class="btn btn-schedule btn-lg" href="ownevent" style="color: purple; font-size: 25px">My events</a>
        </div>
        {% if busy_date %}
            <table align="center" style="text-align: center">
            <tr>
                <th style="text-align: center">..Event Name..</th>
                <th style="text-align: center">..Event Day..</th>
                <th style="text-align: center">  ..Event from time..  </th>
                <th style="text-align: center">  ..Event to time..</th>
            </tr>

            {% for foo in busy_date %}
                <tr>
                    <td>{{ foo.name }}</td>
                    <td>{{ foo.day }}</td>
                    <td>{{ foo.start_time }}</td>
                    <td>{{ foo.end_time }}</td>
              </tr>
            {% endfor %}

            </table>
        {% endif %}

    </div>
</div>
</div>
</div>



{% endblock %}