{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/admin/css/base.css' %}">
<html lang="en">

<head>
    <title>registration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{#    <link rel="stylesheet" href="./default.css">#}
{#    {% load static %}<link rel="stylesheet" type="text/css" href="{% static 'default.static' %}">#}
{#    <link rel="stylesheet" type="text/css" href="static/default.css">#}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>



<style>
/* Header/Blog Title */
.header {
  padding: 35px;
  text-align: center;
  background: royalblue;
  color: whitesmoke;
}
</style>

  <body>
    <header>
{#      {% if user.is_authenticated %}#}
{#        <a href="{% url 'logout' %}">logout</a>#}
{#      {% else %}#}
{#        <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>#}
{#        <a href="{% url 'signup' %}">signup</a>#}
{#      {% endif %}#}
{#      <hr>#}
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>