{% extends 'registration/base.html' %}
{##}
{#{% block content %}#}
{#  <h2>Sign up</h2>#}
{#  <form method="post">#}
{#    {% csrf_token %}#}
{#    {% for field in form %}#}
{#      <p>#}
{#        {{ field.label_tag }}<br>#}
{#        {{ field }}#}
{#        {% if field.help_text %}#}
{#          <small style="color: grey">{{ field.help_text }}</small>#}
{#        {% endif %}#}
{#        {% for error in field.errors %}#}
{#          <p style="color: red">{{ error }}</p>#}
{#        {% endfor %}#}
{#      </p>#}
{#    {% endfor %}#}
{#    <button type="submit">Sign up</button>#}
{#  </form>#}
{#{% endblock %}#}


{% block content %}
    <style>
        .topnav {
          overflow: hidden;
          background-color: cornflowerblue;
        }

        /* Style the topnav links */
        .topnav a {
          float: left;
          display: block;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          color: whitesmoke;
        }
    </style>

    <div class="header">
        <h1>AS-IS Meeting Scheduler Website</h1>
    </div>

    <div class="topnav">
        <p style="font-size: 25px; text-align: left; padding: 15px; color: whitesmoke">Sign Up</p>
    </div><br>

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <br><br><input type="submit" value="Sign Up">
    </form>
{% endblock %}